{% extends 'layout.html' %}
{% block title %} StackMetadata | Home {% endblock title %}
{% block head %}
  {{ super() }}
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock head %}
{% block section_content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ number_sites }}</h3>

                <p>Sites API</p>
              </div>
              <div class="icon">
                <i class="ion ion-link"></i>
              </div>
              <a href="{{ url_for('view_sites') }}" class="small-box-footer">Mais Informações<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->
{% endblock section_content %}