{% extends 'layout.html' %}
{% block title %} StackMetadata | Perfil {% endblock title %}
{% block head %}
  {{ super() }}
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
{% endblock head %}
{% block section_content %} 
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Perfil</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
              <li class="breadcrumb-item active">Perfil</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <i class="fas fa-user fa-9x"></i>
                  <!--<img class="profile-user-img img-fluid img-circle"
                       src="{{ url_for('static', filename='dist/img/user_icon.png') }}"
                       alt="User profile picture"> -->
                </div>
                <div class="justify-content-center">
                  <h3 class="profile-username text-center">{{ current_user.name }}</h3>
                  <h2 class="profile-username text-center">{{ current_user.email }}</h2>
                  {% if current_user .role != "administrator"%}
                    <div class="d-flex justify-content-center">
                      <a href="{{ url_for('request_admin_access') }}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-shield-alt"></i>
                        </span>
                        <span class="text">Solicitar Acesso de Administrador</span>
                      </a>
                    </div>
                  {% endif %}
                                  
                  <!--
                    <p class="text-muted text-center">Software Engineer</p>

                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Followers</b> <a class="float-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                      <b>Following</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                      <b>Friends</b> <a class="float-right">13,287</a>
                    </li>
                  </ul>
                  
                  <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                  -->
                </div>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-0">
                <ul class="nav nav-pills">
                  <h2 class="nav-item ml-2 mt-2">Dados do perfil / Alteração</h2>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <form class="form-horizontal" action="", method="post">
                  {{ form.hidden_tag() }}
                  <div class="input-group mb-3">
                    {{ form.name.label(class="col-sm-2 col-form-label") }}
                    {% if form.name.errors %}
                      {{ form.name(class="col-sm-10 form-control form-control-user is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}                    
                      {{ form.name(class="col-sm-10 form-control form-control-user", placeholder="Nome e Sobrenome") }}                                      
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-user"></span>
                        </div>
                      </div>
                    {% endif %}  
                  </div>
                  <div class="input-group mb-3">
                    {{ form.current_password.label(class="col-sm-2 col-form-label") }}
                    {% if form.current_password.errors %}
                      {{ form.current_password(class="col-sm-10 form-control form-control-user is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.current_password.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %} 
                      {{ form.current_password(class="col-sm-10 form-control form-control-user", placeholder="Senha atual") }}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="input-group mb-3">
                    {{ form.new_password.label(class="col-sm-2 col-form-label") }}
                    {% if form.new_password.errors %}
                      {{ form.new_password(class="col-sm-10 form-control form-control-user is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.new_password.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.new_password(class="col-sm-10 form-control form-control-user", placeholder="Nova senha") }}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="input-group mb-3">
                    {{ form.confirm_new_password.label(class="col-sm-2 col-form-label") }}
                    {% if form.confirm_new_password.errors %}
                      {{ form.confirm_new_password(class="col-sm-10 form-control form-control-user is-invalid") }}
                      <div class="offset-sm-2 col-sm-10 invalid-feedback">
                        {% for error in form.confirm_new_password.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.confirm_new_password(class="col-sm-10 form-control form-control-user", placeholder="Repita a nova senha") }}
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>
                    {% endif %}                  
                  </div>             
                  <div class="input-group row">
                    <div class="offset-sm-2 col-sm-8">
                      <div class="icheck-warning">
                        {{ form.confirm_change(class="form-check-input") }}
                        {{ form.confirm_change.label(class="form-check-label") }}
                      </div>
                    </div>
                    <div class="col-sm-2">
                      {{ form.submit(class="btn btn-warning btn-block") }}
                    </div>
                  </div>      
                </form>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock section_content %}
