<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.serializejson.js') }}"></script>
    <!--<script>
        function handleFormSubmit(event) {
            event.preventDefault();
            
            const data = new FormData(event.target);
            
            const formJSON = Object.fromEntries(data.entries());

            // for multi-selects, we need special handling
            formJSON.snacks = data.getAll('snacks');
            
            const results = JSON.stringify(formJSON, null, 2);
            return results
        }

        const form = document.querySelector('.contact-form');
        form.addEventListener('submit', handleFormSubmit);
    </script>-->
</head>
<body>
  <script>
    function sendjson2(){

      var obj = $('#form').serializeJSON();
      var jsonString = JSON.stringify(obj);

      var url = "{{ url_for('test') }}";

      var xhr = new XMLHttpRequest();
      xhr.open("POST", url);

      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("Content-Type", "application/json");

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            console.log(xhr.status);
            console.log(xhr.responseText);
        }};

      var data = `{
        "Id": 78912,
        "Customer": "Jason Sweet",
        "Quantity": 1,
        "Price": 18.00
      }`;
      alert(jsonString)
      xhr.send(jsonString);
    }
    
  </script>
    <section class="contact-form">
        <h1>Send Me a Message</h1>
        <p>Use this handy contact form to get in touch with me.</p>
        
        <form id="form" action="{{ url_for('test2') }}" method="post">
          
          <div class="input-group">
            <label for="name">Full Name</label>
            <input id="name" name="form" data-value-type="string" type="text"/>
          </div>
          
          <div class="input-group">
            <label for="email">Email Address</label>
            <input id="email" name="form" data-value-type="string" type="email"/>
          </div>
          
          <div class="input-group">
            <label for="message">Enter a Message</label>
            <textarea id="message" name="message" rows="6" cols="65"></textarea>
          </div>
          
          <div class="input-group">
            <p class="group-label">Please send me:</p>
            <input id="snacks-pizza" name="snacks" data-value-type="boolean" type="checkbox" value="pizza"/>
            <label class="inline" for="snacks-pizza">Pizza</label>
            <input id="snacks-cake" name="snacks" data-value-type="boolean" type="checkbox" value="cake"/>
            <label class="inline" for="snacks-cake">Cake</label>
          </div>
          <div id="general" contenteditable="true">azsfagfagadgagfdsf</div>
          <input id="secret" name="form" data-value-type="array" type="text" value=""/>
          <button type="submit">Send It!</button>
          <input type="submit" onclick="sendjson()" value="Salvar"/>
        </form>
      </section>      
</body>
</html>