{% extends 'layout.html' %}
{% block title %} StackMetadata | Fóruns {% endblock title %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock head %}
{% block section_content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Fóruns</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item active">Fóruns</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Fóruns diponíveis para consulta</h3>
              <!-- controle de acesso -->
              {% if current_user.role == "administrator" %}
                <a style="float: right;" class="col-md-1 btn btn-primary" href="{{ url_for('search_sites') }}">
                  <i class="fas fa-sync-alt btn-primary"></i>
                </a>
              {% endif %}              
            </div>
            <!-- /.card-header -->
            {% if sites %}
              <div class="card-body">
                <table id="data-table" class="table table-bordered table-striped">
                  <thead>
                    {% if current_user.role == "administrator"%}
                      <tr>
                        <th>Nome</th>
                        <th>Parametro API</th>
                        <th>URL</th>
                        <th>Nicho</th>
                      </tr>
                      </thead>
                      <tbody>
                        {% for site in sites %}
                          <tr>
                            <td>{{ site['name'] | safe}}</td>
                            <td>{{ site['api_parameter'] }}</td>
                            <td><a href="{{ site['url'] }}" target="_blank">{{ site['url'] }}</a></td>
                            <td>{{ site['audience'] }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>Nome</th>
                        <th>Parametro API</th>
                        <th>URL</th>
                        <th>Nicho</th>
                      </tr>
                      </tfoot>
                    {% else %}
                      <tr>
                        <th>Nome</th>
                        <th>URL</th>
                        <th>Nicho</th>
                      </tr>
                      </thead>
                      <tbody>
                        {% for site in sites %}
                          <tr>
                            <td>{{ site['name'] | safe}}</td>
                            <td><a href="{{ site['url'] }}" target="_blank">{{ site['url'] }}</a></td>
                            <td>{{ site['audience'] }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>Nome</th>
                        <th>URL</th>
                        <th>Nicho</th>
                      </tr>
                      </tfoot>
                    {% endif %}
                </table>
              </div>
            {% endif %}
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock section_content %}
{% block scripts %}
  {{ super() }}
  <!-- DataTables  & Plugins -->
  <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
  <!-- Page specific script -->
  <script>
    $(function () {
      $("#data-table").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#data-table_wrapper .col-md-6:eq(0)');
    });
  </script>
{% endblock scripts %}
